/* PALETA DE COLORES */
:root {
  --oscuro: #131517;
  --blanco: #f7f9f9;
  --amarillo: #ffc300;
  --celeste: #aed6f1;
  --verdeFuerte: #27ae60;
  --verdesuave: #daf7a6;
  --rojo: #de3f33;
  --coral: #ff7f50;
  --dorado: #d7b269;
  --azul: #0b1b34;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/* GLOBALES */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  /* color: var(--blanco); */
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--azul);
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/* TIPOGRAFIA */
h1,
h2,
h3 {
  margin: 0;
  font-weight: bold;
}
h1 {
  font-size: 8rem;
  line-height: 12.5rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  margin: 0;
  font-size: 1.8rem;
}
a {
  color: var(--azul);
  text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/* HEADER */
.header {
  background-color: var(--blanco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2.5rem;
}
.header-logo {
  margin-left: 9rem;
}
.header-navigation {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-right: 2.5rem;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
}
.header-navigation a {
  padding: 0.75rem 1.5rem;
  color: var(--blanco);
  background-color: var(--azul);
  border-radius: 2rem;
}
.header-navigation a:hover {
  color: var(--azul);
  background-color: var(--dorado);
  box-shadow: 0 0 0.5rem var(--dorado);
  transform: scale(1.05);
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/* FOOTER */
.footer {
  background-color: var(--blanco);
  margin-top: 57.5rem;
}
.footer-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 5rem;
}
.footer-contenedor section {
  text-align: center;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-info p {
  font-size: 1.6rem;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-nav a {
  font-size: 1.6rem;
  font-weight: bold;
}
.footer-nav a:hover {
  color: var(--dorado);
}
.footer-escribir-paciente {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.footer-escribir-paciente p {
  font-size: 1.6rem;
}
.footer-escribir-paciente-titulo {
  font-weight: bold;
}
.footer-escribir-paciente input {
  text-align: center;
  padding: 0;
  border-radius: 0.5rem;
  border-color: var(--azul);
  width: 75%;
}
.footer-escribir-paciente button {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--blanco);
  background-color: var(--azul);
  width: 50%;
  height: 15%;
  border-radius: 0.5rem;
  border: none;
}
.footer-escribir-paciente button:hover {
  background-color: var(--dorado);
  color: var(--azul);
}
.footer-rrss {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-rrss p {
  font-size: 1.6rem;
}
.footer-rrss-titulo {
  font-weight: bold;
}
.footer-rrss-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
}
.footer-copyright {
  background-color: var(--dorado);
}
.footer-copyright p {
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem;
}
